/*************/
/* Main Page */
/*************/

body{
  background-color: #000000;
}

.welcome-info{
  font-size: 20px
}

.streams{
  height:100%;
  width:auto;
  padding: 0!important;
}

.hidden{
  display:none;
}

.main{
  margin: 0 !important;
  height: 100%;
  width:100%;
}


.welcome-div h1, .welcome-div p{
  color: #FFF;
  text-indent: 5%
}

.main-button{
  bottom: 50px; 
  right: 24px;
}



.layout{
  width: 100%;
  height: 100%;
  margin:0 0 0 0;
}

.stream-player, .chat-box{
  margin: 0 0 0 0;
}

.twitch-chat-frame{
  height: 100%;
  width: 100%
}

/**LAYOUT0**/
.layout-0 .stream-player{
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;

}

.layout-0 .chat-box{
  display:none;
}

.layout-0 .stream-player:nth-of-type(2){
  display: none;
}

.layout-0 .stream-player:nth-of-type(3){
  display: none;
}
.layout-0 .stream-player:nth-of-type(4){
  display: none;
}
.layout-0 .stream-player:nth-of-type(5){
  display: none;
}
.layout-0 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT1**/
.layout-1 .stream-player{
  width: 75%;
  height: 100%;
  float:left;
}
.layout-1 .chat-box{
  width: 25%;
  height: 100%;
  float:right;
}

.layout-1 .stream-player:nth-of-type(2){
  display: none;
}

.layout-1 .stream-player:nth-of-type(3){
  display: none;
}
.layout-1 .stream-player:nth-of-type(4){
  display: none;
}
.layout-1 .stream-player:nth-of-type(5){
  display: none;
}
.layout-1 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT2**/
.layout-2 .stream-player{
  width: 100%;
  height: 50%;
  float:left;
}

.layout-2 .chat-box{
  display:none;
}

.layout-2 .stream-player:nth-of-type(3){
  display: none;
}
.layout-2 .stream-player:nth-of-type(4){
  display: none;
}
.layout-2 .stream-player:nth-of-type(5){
  display: none;
}
.layout-2 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT3**/
.layout-3 .stream-player{
  width: 75%;
  height: 50%;
  float:left;
}
.layout-3 .chat-box{
  width: 25%;
  height: 100%;
  margin-left: 75%;
  position: absolute;
}

.layout-3 .stream-player:nth-of-type(3){
  display: none;
}
.layout-3 .stream-player:nth-of-type(4){
  display: none;
}
.layout-3 .stream-player:nth-of-type(5){
  display: none;
}
.layout-3 .stream-player:nth-of-type(6){
  display: none;
}


/**LAYOUT4**/
.layout-4 .stream-player{
  float:left;
}

.layout-4 .stream-player.major{
  width: 70%;
  height: 100%;
  float:left;
}

.layout-4 .stream-player.minor{
  width: 30%;
  height: 40%;
  float:right;
}

.layout-4 .chat-box{
  width: 30%;
  height: 60%;
  float:right;
}

.layout-4 .stream-player:nth-of-type(3){
  display: none;
}
.layout-4 .stream-player:nth-of-type(4){
  display: none;
}
.layout-4 .stream-player:nth-of-type(5){
  display: none;
}
.layout-4 .stream-player:nth-of-type(6){
  display: none;
}


/**LAYOUT5**/
.layout-5 .stream-player{
  float:left;
  height: 50%;
  width: 50%;
}

.layout-5 .chat-box{
  display: none;
}

.layout-5 .stream-player:nth-of-type(4){
  display: none;
}
.layout-5 .stream-player:nth-of-type(5){
  display: none;
}
.layout-5 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT6**/
.layout-6 .stream-player{
  float:left;
  height: 50%;
  width: 50%;
}

.layout-6 .chat-box{
  float:left;
  height: 50%;
  width: 50%;
}

.layout-6 .stream-player:nth-of-type(4){
  display: none;
}
.layout-6 .stream-player:nth-of-type(5){
  display: none;
}
.layout-6 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT7**/
.layout-7 .stream-player.major{
  float:left;
  height: 65%;
  width: 75%;
}

.layout-7 .stream-player.minor{
  float:left;
  height: 35%;
  width: 37.5%;
}

.layout-7 .chat-box{
  width: 25%;
  height: 100%;
  margin-left: 75%;
  position: fixed;
}

.layout-7 .stream-player:nth-of-type(4){
  display: none;
}
.layout-7 .stream-player:nth-of-type(5){
  display: none;
}
.layout-7 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT8**/
.layout-8 .stream-player{
  float:left;
  height: 50%;
  width: 50%;
}

.layout-8 .chat-box{
  display: none;
}

.layout-8 .stream-player:nth-of-type(5){
  display: none;
}
.layout-8 .stream-player:nth-of-type(6){
  display: none;
}


/**LAYOUT9**/
.layout-9 .stream-player{
  float:left;
  height: 50%;
  width: 37.5%;
}

.layout-9 .chat-box{
  position: absolute;
  margin-left: 75%;
  height: 100%;
  width: 25%;
}

.layout-9 .stream-player:nth-of-type(5){
  display: none;
}
.layout-9 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT10**/
.layout-10 .stream-player.major{
  float:left;
  height: 65%;
  width: 75%;
}

.layout-10 .stream-player.minor{
  float:left;
  height: 35%;
  width: calc(100% / 3);
}

.layout-10 .chat-box{
  position: absolute;
  margin-left: 75%;
  height: 65%;
  width: 25%;
}

.layout-10 .stream-player:nth-of-type(5){
  display: none;
}
.layout-10 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT11**/
.layout-11 .stream-player{
  float:left;
  height: 50%;
  width: calc(100% / 3);
}

.layout-11 .chat-box{
  display: none;
}

.layout-11 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT12**/
.layout-12 .stream-player{
  float:left;
  height: 50%;
  width: calc(100% / 3);
}

.layout-12 .chat-box{
  float:left;
  height: 50%;
  width: calc(100% / 3);
}

.layout-12 .stream-player:nth-of-type(6){
  display: none;
}

/**LAYOUT13**/
.layout-13 .stream-player{
  float:left;
  height: 50%;
  width: calc(100% / 3);
}

.layout-13 .chat-box{
  display:none;
}

/**LAYOUT14**/
.layout-14 .stream-player{
  float:left;
  height: calc(100% / 3);
  width:37.5%;
}

.layout-14 .chat-box{
  position: absolute;
  margin-left: 75%;
  height: 100%;
  width: 25%;
}

/**LAYOUT15**/
.layout-15 .stream-player.major{
  float:left;
  height: calc(200% / 3);
  width: calc(200% / 3);
}

.layout-15 .stream-player.minor{
  float:right;
  height: calc(100% / 3);
  width:calc(100% / 3);
}


.layout-15 .chat-box{
  display: none
}





/***********/
/* Buttons */
/***********/

.twitch-purple{
  background-color: #6441A5;
}

.twitch-purple:hover{
  background-color: #6441A5;
}

/***************/
/* Setup Modal */
/***************/

.setup-modal{
  width: 80%!important;
}

.setup-top{
  margin-bottom: 10%;
}

.checkbox-twitch-purple[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #6441A5;
     background-color: #6441A5;
}

.modal-stream-select .dropdown-content .disabled span,
.number-stream-select .dropdown-content .disabled span,
.quality-select .dropdown-content .disabled span
 {
  color: rgba(0,0,0,0.3);
}

.modal-stream-select .dropdown-content li span,
.number-stream-select .dropdown-content li span,
.quality-select .dropdown-content li span {
  color: #6441A5;
}

.setup-label{
  color:#000000!important;
}

.modal-stream-select .select-dropdown{
  max-height:40vh;
}

.btn-large{
  margin-bottom: 4px;
}

.layout-preview{
  height: 95px;
  border-style: solid;
  border-color: #FFF;
  margin:auto;
  width: 160px;
  font-size: 18px;
  text-align: center;
}

.layout-preview.active-preview{
  border-color: #211637;
}

.layout-preview .stream-player{
  background-color: #e2dbf0;
  border-style: solid;
  border-color: #9a7fcc
}

.layout-preview .chat-box{
  background-color: #f1edf8;
  border-style: solid;
  border-color: #9a7fcc;

}

.layout-3.layout-preview .chat-box{
  width: 38.5px;
  height: 89px;
  margin-left: 115.5px;
  position: absolute;
}

.layout-7.layout-preview .chat-box{
  width: 38.5px;
  height: 89px;
  margin-left: 115.5px;
  position: absolute;
}

.layout-9.layout-preview .chat-box{
  width: 38.5px;
  height: 89px;
  margin-left: 115.5px;
  position: absolute;
}

.layout-10.layout-preview .chat-box{
  width: 38.5px;
  height: 57.884px;
  margin-left: 115.5px;
  position: absolute;
}

.layout-14.layout-preview .chat-box{
  width: 38.5px;
  height: 89px;
  margin-left: 115.5px;
  position: absolute;
}


/***************/
/* About Modal */
/***************/

.portrait{
  width:100%;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: medium;;
}

.links-list li{
  display: inline-block;
  margin-left:10px;
  margin-right:10px;
}


.about-row{
  margin-bottom: 0;
}

.hidden{
  display:none;
}
